In [1]:
import pandas as pd
import numpy as np

In [2]:
pop=pd.read_csv('district_populations_extrapolated.csv')
pop

,Num,District,State,Population,Growth Rate,Sex-Ratio,Literacy,Population2021_estimated
0,1,thane,maharashtra,11060148,1.3601,886,84.53,2.395904e+08
1,2,north twenty four parganas,west bengal,10009781,1.1204,955,84.06,3.120007e+07
2,3,bangalore,karnataka,9621551,1.4718,916,87.67,4.589159e+08
3,4,pune,maharashtra,9429408,1.3037,915,86.15,1.337399e+08
4,5,mumbai suburban,maharashtra,9356962,1.0829,860,89.91,2.075001e+07
...,...,...,...,...,...,...,...,...
635,636,nicobars,andaman & nicobar islands,36842,0.8758,777,78.06,9.781211e+03
636,637,upper siang,arunachal pradesh,35320,1.0587,889,59.99,6.248127e+04
637,638,lahul and spiti,himachal pradesh,31564,0.9500,903,76.81,1.889853e+04
638,639,anjaw,arunachal pradesh,21167,1.1419,839,56.46,7.978845e+04
639,640,dibang valley,arunachal pradesh,8004,1.1007,813,64.10,2.089280e+04

In [10]:
pop=pd.read_csv('district_populations_extrapolated.csv')
pop['Population_2021']=pop['Population']
for year in range(10):
    aggregated_growth_rate=sum(pop['Growth Rate']*pop['Population_2021'])/sum(pop['Population_2021'])
    pop['Population_2021']=pop['Growth Rate']*pop['Population_2021']
    pop['Growth Rate']=[i-abs(i-aggregated_growth_rate)*0.2 if i>aggregated_growth_rate else i+abs(i-aggregated_growth_rate)*0.2 for i in pop['Growth Rate']]

In [12]:
sum(pop['Population_2021'])/1000000000

7.604335322775165

In [5]:
sum(pop['Population2021_estimated'])/1000000000

12.824624303992714

In [13]:
pop.to_csv('district_populations_extrapolated.csv',index=False)